{% load static %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    {% block styles %}
    {% endblock %}

</head>
<body>
    <header>
        <h1> {% block title %}   {% endblock %} </h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}

    </main>
    <footer>
        <p>&copy; 2023 Mi Página Web. Todos los derechos reservados.</p>
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html>